<main class="c-main-home c-main-home--tile">
  <h1 class="c-main-home__heading">Team collaboration done right</h1>
  <p class="c-main-home__intro">
    Thousands of heroes from all over the world turn to
    <b>Tour Of Heroes</b> to communicate and get things done
  </p>
</main>
<div class="c-sidebar-top">
  <form class="c-sidebar-top__login-form">
    <h3 class="c-sidebar-top__sheading">Login</h3>
    <p class="c-sidebar-top__p1">
      <label for="username">Username</label>
      <input
        class="c-sidebar-top__iusername"
        id="username"
        type="text"
        name="username"
      />
    </p>
    <p>
      <label for="password">Password</label>
      <input
        class="c-sidebar-top__ipassword"
        id="password"
        type="password"
        name="password"
      />
    </p>
    <button
      class="c-sidebar-top__button c-main-home--tile c-sidebar-top--centered stack"
      type="submit"
    >
      Login
    </button>
  </form>
</div>
<div class="c-sidebar-bottom c-main-home--tile c-sidebar-bottom--centered stack">
  <small>Starting at</small>
  <div class="c-sidebar-bottom__cost">
    <span class="c-sidebar-bottom__cost-currency">$</span>
    <span class="c-sidebar-bottom__cost-dollars">20</span>
    <span class="c-sidebar-bottom__cost-cents">.00</span>
  </div>
  <a class="c-sidebar-bottom__cta-button" href="/pricing">Sign up</a>
</div>
