<main class="c-bakery-main">
    <h2 class="c-bakery-main__intro-heading1">Fresh from the Oven</h2>
    <h3 class="c-bakery-main__intro-heading2">Breads</h3>
    <p class="c-bakery-main__intro-copy1">
        <img class="c-bakery-main__img1" src="/images/800x600.png" alt="Image" />
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus corporis quis maxime dolor deleniti consectetur, rerum ratione dicta quasi sequi veritatis, minus sint harum ipsam perspiciatis sit, quam nostrum fugit? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam obcaecati, earum deleniti illo vel ut iste culpa? Eius dicta animi optio repudiandae suscipit, fugit, dolorum incidunt iusto labore, quisquam placeat.
    </p>
    <p class="c-bakery-main__more"><a class="c-bakery-main__cta1" href="#">Learn more about our baking process...</a></p>
    <h3 class="c-bakery-main__intro-heading3">Muffins</h3>
    <p class="c-bakery-main__intro-copy2"><img class="c-bakery-main__img2" src="/images/800x600.png" alt="Image"/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nemo quibusdam illo nam quis repellendus hic voluptate animi, iure quas sit magnam culpa veniam, ea quaerat! Fugit doloremque distinctio debitis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio architecto delectus doloremque totam aliquam error voluptatum neque rem corporis? Est nesciunt odit sint minus debitis aliquam quisquam ad aliquid adipisci?
    </p>
    <p class="c-bakery-main__more"><a class="c-bakery-main__cta2" href="#">Learn more about how we make our muffins...</a></p>
</main>

<aside class="c-bakery-aside">
    <h2 class="c-bakery-aside__intro-heading">Hours</h2>
    <p><span class="day">Monday:</span> 5am to 3pm</p>
    <p><span class="day">Tuesday:</span> 5am to 3pm</p>
    <p><span class="day">Wednesday:</span> 5am to 3pm</p>
    <p><span class="day">Thursday:</span> 5am to 3pm</p>
    <p><span class="day">Friday:</span> 5am to 3pm</p>
    <p><span class="day">Saturday:</span> 6am to 4pm</p>
    <p><span class="day">Sunday:</span> 6am to 4pm</p>
  </aside>