<header class="c-bakery-header">
    <nav class="c-bakery-header__nav">
        <ul class="c-bakery-header__list">
            <li class="c-bakery-header__item"><a class="c-bakery-header__link" href="/">Home</a></li>
            <li class="c-bakery-header__item"><a class="c-bakery-header__link" href="/news">News</a></li>
            <li class="c-bakery-header__item"><a class="c-bakery-header__link" href="/menu">Menu</a></li>
            <li class="c-bakery-header__item"><a class="c-bakery-header__link" href="/about">About</a></li>
            <li class="c-bakery-header__item"><a class="c-bakery-header__link" href="/contact">Contact</a></li>
            <li class="c-bakery-header__item"><a class="c-bakery-header__link" href="/tourofheroes">Tour of Heroes</a></li>
        </ul>
    </nav>
    <h1 class="c-bakery-header__intro-heading"><img class="c-bakery-header__img" src="/images/800x600.png" alt="Intro Image"/></h1>
    <p class="c-bakery-header__intro-copy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae tempora delectus atque sequi, vel, quibusdam porro tenetur ratione dolor animi commodi nobis fugiat fugit harum maxime exercitationem. Debitis, sunt accusantium.</p>
</header>