<div data-cy="header-bar-brand" class="navbar-brand">
  <a
    href="https://reactjs.org/"
    target="_blank"
    rel="noopener noreferrer"
    class="navbar-item"
    data-cy="header-bar-brand-link"
  >
    <div data-cy="react-icon-svg">
      <i class="fab fa-react"></i>&nbsp;
      <i class="fab fa-golang"></i>
    </div>
  </a>
  <a data-cy="navLink" href="/tourofheroes" class="navbar-item navbar-home">
    <span class="tour">TOUR</span>
    <span class="of">OF</span>
    <span class="heroes">HEROES</span>
  </a>
  <a class="navbar-item" href="/">Home</a>
  <a class="navbar-item" href="/about">About</a>
  <a class="navbar-item" href="/runningclub">Club</a>
  <a class="navbar-item" href="/team">Team</a>
</div>
