{{ define "main" }}
<header class="c-page-header">
    <h1 class="c-page-header__heading">Running Club</h1>
</header>
<div class="c-container">
    <main class="c-main">
        <h2 class="c-main__sheading">Come join us!</h2>
        <p class="c-main__intro1">
            The <b>Running Club</b> meets at 6:00pm every Thursday at the town
            square. Runs are three to five miles, at your own pace
        </p>
        <p class="c-main__intro2">
            Join us while we train for the 
            <a href="#">St. Martin's Day 5k</a> Don't forget to wear blue!
        </p>
    </main>
    <aside class="c-social-links stack">
        <a href="#" class="c-social-links__button-link">follow us on Mastodon</a>
        <a href="#" class="c-social-links__button-link">follow us on Github</a>
        <a href="#" class="c-social-links__sponsor-link">Become a sponsor</a>
    </aside>
</div>
{{ end }}